<section class="mt-5 space-y-2">
  <div class="flex items-end gap-2 mb-4">
    <h1 class="uppercase font-semibold text-xl">Joaquin Rivas Sánchez</h1>
    / <a href="github.com/humankernel" class="text-bold hover:underline">
      @humankernel
    </a>
  </div>

  <div class="text-sm leading-relaxed tracking-wide space-y-6 max-w-prose">
    <p>
      👋 Hi, I'm <span class="text-red-900 font-bold">Joaquin</span> a passionate
      <strong>full-stack developer</strong> based in <em>Havana</em>,
      specializing in <strong>TypeScript</strong>.
    </p>
    <p>
      Driven by curiosity and a love for problem-solving, I constantly seek to
      expand my skills through self-learning and hands-on projects.
    </p>
    <p>
      My programming journey spans multiple languages including <strong
        >TypeScript</strong
      >, C, Python, and Go.
    </p>
    <p>
      I enjoy crafting clean, efficient code and building compelling web
      applications that combine functionality and modern UI design.
    </p>
    <p>
      Beyond web development, I have a deep passion for game development —
      exploring gameplay systems, graphics programming, and immersive user
      experiences fuels my creativity and keeps me learning at the cutting edge
      of technology.
    </p>
  </div>
</section>
