<section class="mt-10
space-y-2 text-sm">
  <h1 class="font-bold">Educación</h1>

  <ul>
    <li>
      B.S in Computer Science Enginearing at
      <a href="uci.cu" class="underline">UCI</a>
    </li>
  </ul>
</section>
